@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
  background-color: #09121C;
  font-family: 'Quicksand', sans-serif;
  color: wheat;
}

body {
  padding-left: 10%;
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background: #09121C;
}

p {
  font-size: 18px;
  color: wheat;
  letter-spacing: .07rem;
  line-height: 2rem
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
}

.navigation-buttons button {
  margin-right: 10px;
}

.navigation-buttons button:last-child {
  margin-right: 0;
}

.navigation-buttons button.active {
  background-color: #778da9;
  color: wheat;
  font-weight: bold;
}

.name-container {
  display: flex;
  align-items: center;
}

.name-text {
  margin-right: 10px;
}

.photo img {
  max-width: 90%;
  border-radius: 50%;
  padding-top: 10%;
}



h1 {
  font-size: 3em;
}

h2 {
  font-size: 2rem;
  color: #e0e1dd;
  font-weight: 100;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.left-rail {
  margin-left: -9%;
  border-bottom: 1px solid rgb(224, 225, 221, .5);
  width: 20%;
}

/* Hero name styling */
.name-h1 {
  font-size: 9rem;
  color: #e0e1dd;
  font-weight: 100;

}

.name-h2 {
  font-size: 7rem;
  color: #778da9;
  font-weight: 100;
  margin-top: -1.75%;

}

.name-h3 {
  font-size: 1.25rem;
  color: #e0e1dd;
  font-weight: 200;
  letter-spacing: .05rem;
}

h3 {
  font-size: 1.5rem;
  color: #e0e1dd;
  font-weight: 200;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 2em
}

a {
  text-decoration: none;
}